:root {
    --main-width: 42rem;
    --gutter-width: 3rem;
    --margin-width: 13rem;
    --body-width: calc(var(--main-width) + 2 * (var(--gutter-width) + var(--margin-width)));
}

/*

    {{Note: width}}

    According to CSS’ own specification, you cannot use 'var()' inside
    media queries. As a consequnece, for our theme to be responsive,
    the full width of the page content is

       2 * (margin_width + gutter_width) + content_width = 74rem

 */

/* See {{Note: width}} */
@media (max-width: 74rem) {
    :root {
        --body-width: var(--main-width);
        --width: var(--main-width);
    }
}

figure, figcaption {
    text-align: center;
    margin-left:0;
    margin-right:0;
}

* {
    box-sizing: border-box;
}

/* See {{Note: width}} */
@media (min-width: 74rem) {
    .fullwidth, figure {
        margin-left: calc(-1 * (var(--margin-width) + var(--gutter-width)));
    }

    figure, figcaption, .fullwidth {
        width: var(--body-width);
    }
}

html {
    font-size: 1rem;
}

body {
    line-height: 1.4;
    max-width: var(--body-width);
    margin-left: auto;
    margin-right: auto;
}

aside {
    background: var(--bg);
    z-index: 9999;
    width: var(--body-width);
    align-self: flex-start;
    position: sticky;
    top: 0;
}

aside nav {
    text-align: center;
    border-bottom: 1px solid var(--fade);
}

aside nav ul {
    list-style: none;
    padding: 1rem 0;
    margin: 0;
}

aside nav li {
    display: inline;
}

aside nav li:not(:first-of-type)::before {
    content: " · ";
}

main {
    counter-reset: sidenote-counter;
    max-width: var(--main-width);
    margin: auto;
}

main nav {
    font-style: italic;
    color: var(--fg-plus);
    background: var(--current-line);
    padding: .5rem 1rem;
}

main nav .series-next {
    text-align: right;
}

main nav p.series-next::after {
    content: " →";
}

main nav p.series-prev::before {
    content: "← ";
}

img {
    max-width: 100%;
}

#whoami.marginnote {
    color: var(--fg);
    margin-bottom: 2em;
}

img.avatar {
    border-radius: 20px;
    display: block;
    max-width: 90%;
    margin: auto;
}

dd {
    margin-left: 0;
    margin-bottom: 0.5rem;
}

.sidenote,
.marginnote {
    font-size: smaller;
    position: relative;
    width: var(--margin-width);
}

.sidenote {
    margin-right: calc(-1 * (var(--margin-width) + var(--gutter-width)));
    float: right;
    clear: right;
}

.marginnote {
    float: left;
    clear: left;
    margin-left: calc(-1 * (var(--margin-width) + var(--gutter-width)));
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number::after {
    content: "(" counter(sidenote-counter, lower-greek) ")";
    font-size: 60%;
    top: -0.4rem;
    left: 0.1rem;
}

.sidenote::before {
    content: "(" counter(sidenote-counter, lower-greek) ")";
    font-size: 70%;
    top: -0.5rem;
    right: 0.1rem;
}

div.code,
pre {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem 2rem;
}

main {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
}

h1 {
    text-align: center;
}

h2, h3, h4 {
    font-style: italic;
}

h1, h2, h3, h4 {
    color: var(--doc);
    font-family: serif;
    font-weight: normal;
}

dt {
    font-weight: bold;
}

div.code,
span.inlinecode,
pre,
tt,
.dmath,
.imath {
    font-family: monospace;
    font-size: 85%;
}

details {
    margin: 1.5rem 0;
}

table {
    border-top: 2px solid var(--fg);
    border-bottom: 2px solid var(--fg);
    border-collapse: collapse;
    width: 100%;
    margin: 1.5rem 0;
}

th {
    font-weight: normal;
    text-transform: uppercase;
}

td,
th {
    border-top: 1px solid var(--fade);
    height: 2em;
    padding: 0 1em;
}

td.date,
td.commit {
    text-align: center;
    font-size: 0.75em;
    font-family: monospace;
}

/* See {{Note: width}} */
@media (max-width: 74rem) {
    body {
        padding: 2rem;
        margin: auto;
        display: block;
    }

    aside {
        width: var(--main-width);
        margin: auto;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }

    pre, aside, div.code {
        width: 100%;
    }
}

:root {
    --bg: white;
    --bg-plus: #f7f7f7;
    --current-line: #fbfbfb;
    --fade: #cfcecb;
    --fg: black;
    --fg-plus: black;
    --doc: black;
    --warning: #bd745e;
    --red: #b3534b;
    --green: #6d9319;
    --yellow: #d4b100;
}

body {
    font-family: sans-serif;
    color: var(--fg);
    background: var(--bg);
}

h2 a.anchor-link,
h3 a.anchor-link,
h4 a.anchor-link {
    display: none;
    font-style: normal;
    text-decoration: none;
    font-family: monospace;
    font-size: smaller;
    color: var(--doc);
}

[id] {
    scroll-margin-top: 4rem;
}

h2:hover a.anchor-link,
h3:hover a.anchor-link,
h4:hover a.anchor-link {
    display: inline;
}

.sidenote,
.marginnote {
    color: var(--fg-plus);
}

pre,
code,
div.code,
span.inlinecode,
tt {
    color: var(--doc);
    background: var(--bg-plus);
}

div.code {
    white-space: nowrap;
}

div.code,
span.inlinecode {
    font-family : monospace;
}

.paragraph {
    margin-bottom : .8em;
}

.code a[href] {
    color : black !important;
    text-decoration : none;
    background : var(--bg-plus);
    padding : .1rem .15rem .1rem .15rem;
    border-radius : 15%;
}

.code .icon {
    display: none;
}

.icon svg {
    display: inline;
    width: 1em;
    height: .9em;
    vertical-align: text-top;
}

a[href], .margin-toggle {
    color: black;
}

a[href] .icon svg {
    fill: black;
}

a[href]:visited {
    color: #555;
}

a[href]:visited .icon svg {
    fill: #555;
}

.url-mark.fa {
    display: inline;
    font-size: 90%;
    width: 1em;
}

.url-mark.fa-github::before {
    content: "\00a0\f09b";
}

.url-mark.fa-external-link::before {
    content: "\00a0\f08e";
}
