* {
  box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    background: #29222E;
    color: #E0CEED;
    font-family: 'et-book', serif;
}

h1, h2, h3, h4, h5, a[href] {
    color: #68d3a7;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

/* default */

body#default {
    max-width: 500px;
    margin: auto;
    padding: 1em;
    font-size: 130%;
    overflow-x: hidden;
}

/* coqdoc output */

body#default .code, code, pre, .inlinecode {
    font-family: 'Fira Code', monospace;
    font-size: 75%;
}

body#default div.code {
    white-space: nowrap;
}

body#default .code {
    overflow-x: visible;
}

body#default .code a[href] {
    text-decoration: none;
}

body#default .doc {
}

body#default .paragraph {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* org-mode output */

.footpara {
    display: inline;
    margin-left: .2em;
}

/* index */

ul#index {
    padding-left: 20px;
}

ul#index .date {
    font-size: 75%;
}

/* VCARD (index.html) */

body#vcard {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 125%;
}

body#vcard article {
    max-width: 400px;
    width: 80%;
    margin: auto;
}

body#vcard article img {
    border: 3px solid #68d3a7;
    display: block;
    border-radius: 50%;
    width: 175px;
    margin: auto;
    margin-bottom: 3em;
}

body#vcard h1 {
    color: #68d3a7;
    font-size: 300%;
    text-align: center;
}

body#vcard nav dt {
    font-weight: bold;
}

body#vcard nav dd {
}

body#vcard nav dt a {
    color: #68d3a7;
}
