<ul>
  {% for article in contents %}
  {% if article.date %}
  <li>
    {% if article.feature %}★{% endif %}
    <a href="{{ article.url }}">{{ article.title }}</a>
    <span style="font-size: 90%">
      (<time datetime="{{ article.date }}">{{ article.date_str }}</date>{%if article.series_name %},
      <a title="{{ article.series_name }}" href="{{ article.series_url }}"><span class="icon"><svg><use href="/img/icons.svg#book"></use></svg></span></a>{% endif %})
    </span>
  </li>
  {% endif %}
  {% endfor %}
</ul>
