<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> <!-- set automatically, see soupault.conf --> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <noscript id="lazyloading">
      <link rel="stylesheet" href="/vendors/katex.0.11.1/katex.css">
      <link rel="stylesheet" href="/vendors/fork-awesome.1.1.7/css/fork-awesome.min.css">
      <link rel="stylesheet" href="/vendors/fira-code.2/font.css">
      <link rel="stylesheet" href="/vendors/et-book/font.css">
    </noscript>
  </head>
  <body id="default">
    <nav>
      <ul>
        <li> <a href="/news">News</a></li>
        <li> <a href="/posts">Write-ups</a></li>
        <li> <a href="/">About</a></li>
      </ul>
    </nav>
    <header>
      <img src="/img/merida.webp">
    </header>
    <main>
    <!-- your page content will be inserted here,
         see the content_selector option in soupault.conf -->
    </main>
    <script>
      let noscript = document.getElementById('lazyloading');
      let resources = noscript.innerText.split('\n');

      for (var ix in resources) {
          noscript.insertAdjacentHTML('beforebegin', resources[ix]);
      }
    </script>
  </body>
</html>
