<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
    <link href="https://soap.coffee/+vendor/katex/0.16.4/katex.min.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    <title></title>
  </head>
  <body>
    <aside>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/posts">Technical Posts</a>
          </li>
          <li>
            <a href="/opinions">Opinions</a>
          </li>
          <li>
            <a href="/news">News</a>
          </li>
        </ul>
      </nav>
    </aside>
    <main>
      <span id="whoami" class="marginnote">
        <img class="avatar" src="/img/thinking.png" />

        <p>
          Hi, I’m <strong>lthms</strong>.
        </p>

        <p>
          I didn’t like syntax highlighting, but I like
          types and functional programming languages.
          He/him.
        </p>

        <p>
          Interested in starting a discussion? Don’t hesitate to <a
          href="mailto:~lthms/public-inbox@lists.sr.ht">shoot me an
          email</a>.
        </p>
      </span>
    </main>
  </body>
</html>
